* {
  margin: 0;
  padding-left: 0.025rem;
  padding-top: 0.025rem;
  padding-bottom: 0.025rem;
  padding-right: 0.025rem;
  box-sizing: border-box;
}
body {
  background-color: black;
  width: 100%;
  background-position: center, center;
  background-size: cover;
}
header {
  position: relative;
  height: 1rem;
  background-color: black;
}
header h1 {
  font-style: normal;
  font-size: 0.4rem;
  color: white;
  text-align: left;
  line-height: 0.8rem;
}
header .showTime {
  position: absolute;
  right: 0.025rem;
  top: 0;
  font-style: normal;
  line-height: 0.8rem;
  color: white;
  font-size: 0.2rem;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
}
footer p {
  padding-bottom: 0.25rem;
  font-style: normal;
  font-size: 0.2rem;
  color: white;
  text-align: center;
  line-height: 0.2rem;
}
footer p a {
  font-style: normal;
  color: grey;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0;
  padding: 0.125rem 0.125rem 0;
}
.mainbox .column {
  flex: 2;
}
.mainbox .column:nth-child(2) {
  flex: 6;
  margin-bottom: 0.1875rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
.mainbox .panel {
  position: relative;
  height: 3.5rem;
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
  background-color: rgba(107, 107, 107, 0.3);
}
.mainbox .panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(107, 107, 107, 0.3);
  border-left: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(107, 107, 107, 0.3);
  border-right: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panel .panel-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .panel .panel-foot::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(107, 107, 107, 0.3);
  border-left: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panel .panel-foot::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(107, 107, 107, 0.3);
  border-right: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panel h2 {
  height: 0.6rem;
  color: white;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.1875rem;
  font-weight: 300;
}
.mainbox .panel .chart {
  height: 2.75rem;
  background-color: rgba(107, 107, 107, 0.3);
  opacity: 1;
}
.mainbox .panelMap {
  position: relative;
  height: 10.875rem;
  padding: 0 0.1875rem 0.75rem;
  margin-bottom: 0.1875rem;
  background-color: rgba(107, 107, 107, 0.3);
}
.mainbox .panelMap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(107, 107, 107, 0.3);
  border-left: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panelMap::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(107, 107, 107, 0.3);
  border-right: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panelMap .panel-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainbox .panelMap .panel-foot::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(107, 107, 107, 0.3);
  border-left: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panelMap .panel-foot::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(107, 107, 107, 0.3);
  border-right: 2px solid rgba(107, 107, 107, 0.3);
  content: "";
}
.mainbox .panelMap h2 {
  height: 0.57rem;
  color: white;
  line-height: 0.57rem;
  text-align: center;
  font-size: 0.1875rem;
  font-weight: 300;
  font-style: normal;
}
.mainbox .panelMap #map {
  position: relative;
  width: 100%;
  height: 100%;
}
.mainbox .panelMap .map-overlay {
  position: absolute;
  bottom: 0.0625rem;
  right: 0.0625rem;
  background: #fff;
  margin-right: 0.25rem;
  font-family: Arial, sans-serif;
  font-size: x-small;
  overflow: auto;
  border-radius: 3px;
}
.mainbox .panelMap #legend {
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 1.5rem;
  margin-bottom: 40px;
  width: 3.9rem;
}
.mainbox .panelMap .mapboxgl-popup-content {
  position: relative;
  border-radius: 3px;
  opacity: 0.8;
  background: #5d3166;
  color: #ffffff;
  max-width: 500px;
  font: 10px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px 10px 15px;
  margin-left: 5px;
}
